// Default buttons

// Back to top
.back-to-top {
  background: color(primary);
  border-radius: 50%;
  height: px-to-em(45);
  width: px-to-em(45);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;

  z-index: z(extended);
  position: fixed;
  bottom: 5%;
  right: 2%;
}
.back-to-top.btt-is-visible,
.back-to-top.btt-fade-out,
.no-touch .back-to-top:hover {
  transition: opacity .3s 0s, visibility 0s 0s;
}
.back-to-top.btt-is-visible {
  visibility: visible;
  opacity: 1;
}
.back-to-top.btt-fade-out {
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}
.no-touch .back-to-top:hover {
  background-color: color(secondary);
  opacity: 1;
}
