// Default
.default-dropdown {
  color: color(default);
  font-size: px-to-em(12);
  font-weight: weight(semi-bold);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;

  .js-dropdown {
    z-index: z(default) + 1;
    position: relative;

    &, & * {
      width: 100%;
    }
  }
  .js-dropdown_current,
  .js-dropdown_item {
    @include tr();

    &:hover {
      color: color(primary);
    }
  }
  .js-dropdown_list {
    background: rgba(color(white), 0.95);
    will-change: transofrm;
    transform: translateY(10px);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;

    @include tr();
    @extend %pe-none;
  }
  .js-dropdown.is-open .js-dropdown_list {
    transform: translateY(0);
    opacity: 1;

    @extend %pe-auto;
  }
  .js-button,
  .js-dropdown_item {
    cursor: pointer;
  }
  .js-button-dropdown {
    border-bottom: 1px solid color(default);
    padding: px-to-em(10) px-to-em(15);

    &::after {
      content: '';
      display: block;
      background: url("../icons/svg-arrow-bot.svg") no-repeat center center;
      background-size: cover;
      width: px-to-em(6);
      height: px-to-em(6);
      transform: translateY(-50%);

      position: absolute;
      top: 50%;
      right: px-to-em(10);

      @include tr(opacity);
      @extend %backspace;
    }
    &:hover:after {
      opacity: 0.5;
    }
  }
  .js-dropdown_item {
    border-bottom: 1px solid #dedede;
    padding: px-to-em(15);

    &:hover {
      color: color(white);
      background: color(primary);
    }
  }
}
