// Default
html.remodal-is-locked {
  overflow: hidden;
}
.remodal-overlay {
  background: rgba(color(white), 0.9);
}
.remodal-wrapper {
  padding: 0;
}
.remodal {
  background: transparent;
  color: color(default);
  padding: 0;
  margin: 0 auto;
  width: 80%;
  max-width: none;
  height: 100%;

  @extend %backspace;
}
.remodal-close {
  width: px-to-em(30);
  height: px-to-em(30);

  top: px-to-em(2530);
  right: 0;
  left: auto;

  @include tr(opacity);

  &:hover {
    opacity: 0.5;
  }
  &:before {
    display: none;
  }
}

@media screen and (min-width: #{ $screen-zero } ) and (max-width: #{ $screen-xs-max } ) {
  .remodal {
    width: 100%;

    .remodal-close {
      width: px-to-em(40);
      height: px-to-em(40);

      top: px-to-em(25);
      right: px-to-em(25);
    }
  }
}
