//Default
.swiper-button-prev {
  background-image: url('../icons/arrow-l.svg');
}
.swiper-button-next {
  background-image: url('../icons/arrow-r.svg');
}
.swiper-button-prev,
.swiper-button-next {
  background-size: contain;
  width: 30px;
  height: 60px;
  transform: translateY(-50%) scale(0.9);
  transition: all $default-transition;

  top: 50%;

  &:hover {
     transform: scale(1);
  }
}
.swiper-pagination {
  bottom: 0;
  left: 0;
  right: 0;
}
.swiper-pagination-bullet {
  background: $primary-color;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  opacity: 0.5;
  transition: all $default-transition;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
