//Default
.swiper-button-prev {
  background-image: url('../icons/svg-arrow-left.svg');
}
.swiper-button-next {
  background-image: url('../icons/svg-arrow-right.svg');
}
.swiper-button-prev,
.swiper-button-next {
  background-size: contain;
  width: px-to-em(30);
  height: px-to-em(60);
  transform: translateY(-50%) scale(0.9);

  top: 50%;

  @include tr();

  &:hover {
     transform: scale(1);
  }
}
.swiper-pagination {
  bottom: 0;
  left: 0;
  right: 0;
}
.swiper-pagination-bullet {
  background: color(primary);
  width: px-to-em(10);
  height: px-to-em(10);
  margin: 0 px-to-em(5);
  opacity: 0.5;

  @include tr();
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
