.sf {
  flex: 1;
}
.svg-sprite {
  display: none !important;
}
.main-content {
  height: 100%;

  @extend %df-c;
}
.update-pending {
  display: block;
  text-align: center;
  width: 100%;
}
.button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
