// Global
html {
  font-family: $default-font;
  font-size: 100%;
  font-weight: normal;
}
body {
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
p, span {
  line-height: 1;
}
