.header {
  padding: px-to-rem(50) 0;

  @include position(overlay, fixed, 0, 0, auto, 0);
  @include tr;

  .container {
    @include flex (flex, space-between, center);
  }
  .logo {
    img {
      max-width: px-to-rem(70);
    }
  }

  // --- Menu
  .menu-panel {
    @include tr;
  }

  // --- Scroll
  &.on-scroll {
    background: color(white);
    box-shadow: $shadow;
    padding: px-to-rem(30) 0;
  }
}

// --- Mobile device
body.it-is-mobile {
  .header {
    padding: px-to-rem(25) 0;
  }
}
