// --- Global variables
:root {
  --font-default: 'Arial', sans-serif;
  --font-secondary: 'Times New Roman', serif;
}

// --- Default values
$default-size: 16;
$default-radius: 5;
$shadow: 1px 1px 20px -6px rgba(var(--default),0.45);

// --- Functions arguments (Font weights, Colors, Z-index, Breakpoints)
$weights: (
  light: 300,
  regular: normal,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900
);
$colors: (
  // --- Main
  default: var(--color-default),
  primary: var(--color-primary),
  secondary: var(--color-secondary),

  // --- Additional
  white: var(--color-white),
  black: var(--color-black),
  gray: var(--color-gray),
  light-gray: var(--color-light-gray),
  dark-gray: var(--color-dark-gray),

  // --- Alerts
  success: var(--color-success),
  warning: var(--color-warning),
  error: var(--color-error)
);
$z-layers: (
  back: -1,
  base: 0,
  default: 1,
  overlay: 999,
  extended: 9999
);
$breakpoints: (
  zero: 0,
  zero-max: 478,
  extra-small: 480,
  extra-small-max: 767,
  small: 768,
  small-max: 991,
  medium: 992,
  medium-max: 1199,
  large: 1200,
  large-max: 1599,
  extra-large: 1600,
  extra-large-max: 1999,
  huge: 2000
);
