// Fonts
$default-font: 'Arial', sans-serif;
$secondary-font: 'Times New Roman', serif;

// Weights
$weights: (
  light: 300,
  regular: normal,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900
);

// Colors
$colors: (
  // --- Main
  default: #545454,
  primary: #828282,
  secondary: #b2b2b2,

  // --- Additional
  white: #ffffff,
  black: #000000,
  gray: #808080,

  // --- Alerts
  success: #b1d845,
  warning: #ffeaa7,
  error: #e41c1c
);

// Z-index
$z-layers: (
  // --- Main
  back: -1,
  base: 0,
  default: 1,

  // --- Additional
  overlay: 999,
  extended: 9999
);

// Breakpoints
$breakpoints: (
  zero: 0,
  extra-small: 480,
  small: 768,
  medium: 992,
  large: 1200,
  extra-large: 1600,
  huge: 2000
);

// Container
$container-max: px-to-em(1200);
$container-padding: px-to-em(30);
$container-padding-md: px-to-em(20);

// Default values
$default-size: 16;
$default-radius: px-to-em(5);
